.player-card {
    cursor: pointer;
    width: 40px;
    height: 60px;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    border: 0px;
}

.player-card:hover {
    transition: transform 0.5 linear;
    transform: translateY(-10px);
}

.modal-scoreboard-label {
    display: inline-block;
    margin-right: 5px;
    font-size: 18px;
}

.play-area-card {
    width: 40px;
    height: 60px;
    line-height: 60px;
    background-color: #424242;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    border: 0px;
}

.play-area-card.down {
    transition: transform 0.5s linear;
    transform: translateY(200px);
}

.play-area-card.up {
    transition: transform 0.5s linear;
    transform: translateY(-200px);
}

.play-area-card.right {
    transition: transform 0.5s linear;
    transform: translateX(220px);
}

.play-area-card.left {
    transition: transform 0.5s linear;
    transform: translateX(-220px);
}

.play-area-card.down-right {
    transition: transform 0.5s linear;
    transform: translate(110px, 105px);
}

.play-area-card.up-right {
    transition: transform 0.5s linear;
    transform: translate(110px, -110px);
}

.play-area-card.down-left {
    transition: transform 0.5s linear;
    transform: translate(-110px, 105px);
}

.play-area-card.up-left {
    transition: transform 0.5s linear;
    transform: translate(-110px, -110px);
}

.data-text {
    text-align: center;
    font-size: 14px;
}

.score-area-text {
    display: inline-block;
    margin-right: 5px;
}

#ScoreboardModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(33, 33, 33);
    background-color: rgba(33, 33, 33, 0.5);
}

#ScoreboardModalBox {
    background-color: #424242;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #212121;
    width: 50%;
    max-height: 400px;
    min-height: 200px;
    text-align: left;
    font-size: 20px;
}

#ModalBoardsContainer {
    width: 100%;
    float: left;
}

#ModalContinueContainer {
    width: 100%;
}

#ModalContinue {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #BB86FC;
    color: #121212;
    cursor: pointer;
    border-radius: 4px;
    border: 0px;
    font-size: 20px;
    bottom: 0;
    margin-bottom: 10px;
}

#ModalTitle {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    margin-bottom: 10px;
}

#ModalTeam1Board {
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}

#ModalTeam2Board {
    float: right;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}

#ScoreLimitText {
    display: inline-block;
}

#Team1NameAndScore {
    float: left;
}

#Team2NameAndScore {
    float: right;
}

#GameContainer {
    margin: 0 auto;
}

#ScoreArea {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

#PlayArea {
    width: 260px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#SpadeLogo {
    display: none;
    text-align: center;
    font-size: 80px;
    color: #121212;
    text-shadow: 0px 0px 5px #FFFFFF;
    cursor: default;
    animation-name: white-to-black;
    animation-duration: 2s;
}

@keyframes white-to-black {
    from {color: #FFFFFF;
        text-shadow: 0px 0px 0px #121212;}
    to {color: #121212;
        text-shadow: 0px 0px 5px #FFFFFF;}
}

#WestAndEastCardContainer {
    display: block;
    height: 105px;
    width: inherit;
}

#Player1Data {
    margin: 0 auto;
}

#Player1Card {
    margin-left: auto;
    margin-right: auto;
}

#Player1TricksToBids {
    display: hidden;
}

#Player1Tricks {
    display: inline-block;
}

#Player1Bid {
    display: inline-block;
}

#Player2Data {
    margin: 0 auto;
    float:left;
}

#Player2Card {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Player2TricksToBids {
    display: hidden;
}

#Player2Tricks {
    display: inline-block;
}

#Player2Bid {
    display: inline-block;
}

#Player3Data {
    margin: 0 auto;
}

#Player3Card {
    margin-left: auto;
    margin-right: auto;
}

#Player3TricksToBids {
    display: hidden;
}

#Player3Tricks {
    display: inline-block;
}

#Player3Bid {
    display: inline-block;
}

#Player4Data {
    margin: 0 auto;
    float: right;
}

#Player4Card {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Player4TricksToBids {
    display: hidden;
}

#Player4Tricks {
    display: inline-block;
}

#Player4Bid {
    display: inline-block;
}

#PlayerCardsContainer {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#PlayerBidContainer {
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
}

#BidLabel {
    font-size: 24px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #03DAC6;
}

#PlayerBidInput {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 10px;
}

#PlayerBidSubmit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #BB86FC;
    color: #121212;
    cursor: pointer;
    border-radius: 4px;
    border: 0px;
}