.player-card {
    cursor: pointer;
    width: 40px;
    height: 60px;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    border: 0px;
}

.play-area-card {
    width: 40px;
    height: 60px;
    line-height: 60px;
    background-color: #424242;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    border: 0px;
}

.data-text {
    text-align: center;
    font-size: 14px;
}

.scoreboard-text {
    display: inline-block;
    margin-right: 5px;
}

#Team1NameAndScore {
    margin-bottom: 10px;
}

#GameContainer {
    margin: 0 auto;
}

#ScoreArea {
    width: 320px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

#PlayArea {
    width: 260px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#WestAndEastCardContainer {
    display: inline-block;
    width: inherit;
}

#Player1Data {
    margin: 0 auto;
}

#Player1Card {
    margin-left: auto;
    margin-right: auto;
}

#Player1TricksToBids {
    display: hidden;
}

#Player1Tricks {
    display: inline-block;
}

#Player1Bid {
    display: inline-block;
}

#Player2Data {
    margin: 0 auto;
    float:left;
}

#Player2Card {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Player2TricksToBids {
    display: hidden;
}

#Player2Tricks {
    display: inline-block;
}

#Player2Bid {
    display: inline-block;
}

#Player3Data {
    margin: 0 auto;
}

#Player3Card {
    margin-left: auto;
    margin-right: auto;
}

#Player3TricksToBids {
    display: hidden;
}

#Player3Tricks {
    display: inline-block;
}

#Player3Bid {
    display: inline-block;
}

#Player4Data {
    margin: 0 auto;
    float: right;
}

#Player4Card {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Player4TricksToBids {
    display: hidden;
}

#Player4Tricks {
    display: inline-block;
}

#Player4Bid {
    display: inline-block;
}

#PlayerCardsContainer {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#PlayerBidContainer {
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
}

#BidLabel {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#PlayerBidInput {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 10px;
}

#PlayerBidSubmit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}